body{
  font-family: 'Sora', sans-serif;
}

h1{
  text-align: center;
}

.form{
  margin-left: 30%;
  margin-right: 30%;
  padding: 1%;
  border: 1px solid black;
}

input{
  height: 2.3vh;
  width: 35vw;
  padding: 1%;
  font-size: 1.3em;
}

button{
  padding: 1%;
  font-family: 'Sora', sans-serif;
  background-color: rgb(230, 172, 14);
  color: white;
  border: 1px solid transparent;
}

button:hover{
  background-color: blueviolet;
}

.card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1%;
}

img{
  width: 200px;
  height: 200px;
}

.eachcard{
  margin: 1% 5% 1% 5%;
  height: 38vh;
  border: 1px solid black;
  text-align: center;
  padding: 5%;
}